.center {
    text-align: center;
}

.cardM {
    /* width: 50%; */
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
}

.btnSoci {
    margin-right: 90%;
    text-transform: initial !important;
}

.imgUser {
    max-height: 150px;
    border-radius: 50%!important;
}

.txtColor {
    color: #cbd0d4!important;
}

.btnSoci {
    border-radius: 1.25rem !important;
}

.progress {
    height: 5px;
}

@media only screen and  (min-width: 768px) {
    .col-md-4 {
        flex: 0 0 auto;
        width: 41.66667%;
    }
}

@media only screen and (max-width: 991px) {
    
    .col-md-2 {
        flex: 0 0 auto;
        width: 41.66667%;
        margin-right: 20%;
    }
}