.card {
    width: 30%;
    text-align: center;
    margin-top: 15%;
}

.Form {
    padding: 3rem;
    border-radius: 4px;
    box-sizing: border-box;
 }
 .login {
    height: 100%;
    display: flex;
    width: 100%;
    margin: 0;
}

@media only screen and  (max-width: 809px) {
    .card {
        width: revert;
    }
}