.center {
    text-align: center;
}

.cardM {
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
}

.btnSoci {
    margin-right: 90%;
    text-transform: initial !important;
}

.imgUser {
    max-height: 150px;
    border-radius: 50%!important;
}

.txtColor {
    color: #cbd0d4!important;
}

.btnSoci {
    border-radius: 1.25rem !important;
}

.progress {
    height: 5px;
}